/* Text Color */
.ns-color-primary{
    color: #285C7F !important;;
}
.ns-color-black{
    color: #000000 !important;;
}
.ns-color-primary-darken{
    color: #232347 !important;;
}
.ns-color-near-black {
    color: #404040 !important;;
}
.ns-color-secondary{
    color: #1979C3 !important;;
}
.ns-color-white{
    color: white !important;;
}
.ns-color-light-gray{
    color: #E5E5E5 !important;;
}
.ns-color-dark-gray{
    color: #6C7683 !important;;
}
.ns-color-gray-lvl1{
    color: #A1A1A1 !important;;
}
.ns-color-accent{
    color: #FF5501 !important;
}

/* End */

/* Background Color */
.ns-bg-color-primary{
    background-color: #285C7F !important;;
}
.ns-bg-color-primary-darken{
    background-color: #232347 !important;;
}
.ns-bg-color-secondary{
    background-color: #1979C3 !important;;
}
.ns-bg-color-white{
    background-color: white !important;;
}
.ns-bg-color-gray{
    background-color: #F2F2F2 !important;;
}
.ns-bg-color-light-gray{
    background-color: #E5E5E5 !important;;
}
.ns-bg-color-accent{
    background-color: #FF5501 !important;;
}
/* End */